---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{.Namespace}}-{{.Name}}-p99-deployment
  namespace: {{.Namespace}}
  labels:
    prometheus: {{.NSPrometheus}}
    role: alert-rules
spec:
  groups:
  - name: {{.Namespace}}-{{.Name}}-p99-deployment.rules
    rules:
    - alert: {{.Name}}-p99-deployment
      annotations:
        summary: |
          {{.Identifier}}: P99 above {{.Threshold}} for 5m
      expr: |
        (
          histogram_quantile(
            0.99, sum(
              rate(
                http_request_duration_seconds_bucket{namespace="{{.Namespace}}"{{.GeneratedLabels}}}[5m]
              )
            ) by (le)
          ) ) > {{.Threshold}}
      for: 1m
      labels:
        identifier: {{.Identifier}}
        name: {{.Name}}-p99-deployment
        namespace: {{.Namespace}}
        deployment: {{.Name}}