ALERT ServerErrorAlert
  IF (sum(nginx_filterzone_responses_total{status_code="5xx", filter_key="{{.Identifier}}", filter_name="kubernetes::ingress"})/sum(nginx_filterzone_responses_total{filter_key="{{.Identifier}}", filter_name="kubernetes::ingress"})) > {{.Threshold}}
  FOR 1m
  LABELS { namespace = "{{ .Namespace }}", identifier = "{{.Identifier}}", name = "{{.Name}}" }
  ANNOTATIONS {
    summary = "{{.Identifier}}: 5xx proportion above {{.Threshold}} for 1m"
  }
