ALERT ResponseMsecAlert
  IF avg(nginx_filterzone_request_msecs_avg{filter_key="{{.Identifier}}", filter_name="kubernetes::ingress" }) > {{.Threshold}}
  FOR 5m
  LABELS { namespace = "{{ .Namespace }}", identifier = "{{.Identifier}}", name = "{{.Name}}" }
  ANNOTATIONS {
    summary = "{{.Identifier}}: Response time for has been above {{.Threshold}} for 5m"
  }
