---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{.Namespace}}-{{.Name}}-replicas-availability-deployment
  namespace: {{.Namespace}}
  labels:
    prometheus: kube-system
    role: alert-rules
spec:
  groups:
  - name: {{.Namespace}}-{{.Name}}-replicas-availability-deployment.rules
    rules:
    - alert: {{.Name}}-replicas-availability-deployment
      annotations:
        summary: |
          {{.Identifier}}: Availability proportion over the requested amount of replicas {{.Threshold}} for 5m
      expr: |
        kube_deployment_status_replicas_available{namespace="{{.Namespace}}", deployment="{{.Name}}"}
        /
        kube_deployment_spec_replicas{namespace="{{.Namespace}}", deployment="{{.Name}}"} <= {{.Threshold}}
      for: 5m
      labels:
        identifier: {{.Identifier}}
        name: {{.Name}}-replicas-availability-deployment
        namespace: {{.Namespace}}
        deployment: {{.Name}}
        owner: {{.Owner}}
        environment: {{.Environment}}
        criticality: {{.Criticality}}
        sensitivity: {{.Sensitivity}}
